/* naviagtion */
.container_navigation {
    width: 13%;
    height: 100vh;
    background-color: #141414;
}

.container_logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-bottom: 20px;
}

.image_logo {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

/* content */
.container_content {
    width: 100%;
}

/* header */
.container_header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 10px 0;
}

.img_header {
    width: 30px;
    height: 30px
}

.text_header {
    font-weight: 500;
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 15px;
}