/* naviagtion */
.container_navigation {
    width: 13%;
    height: 100vh;
    background-color: #141414;
}

.container_logo {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.image_logo {
    width: 65px;
    height: 65px;
}

/* item navigation */



/* content */
.container_content {
    width: 80%;
    height: 100vh;
    /* background-color: blueviolet; */
}