.container_header {
    background-color: #f0f2f5;
    width: 100%;
}

/* link */
.container_link {
    background-color: white;
    padding: 10px 30px 5px;
}

.text_link {
    font-size: 15px;
    margin-bottom: 5px;
    color: #acacac;
}

/* body */
.container_body {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.title_body {
    font-weight: 500;
    font-size: 20px;
}

/* container search */
.container_search {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid #f0f2f5;
    padding: 10px;
}

.input_body {
    border: 0;
    padding: 0;
    width: 91%;
    outline: none;
}

.container_filter {
    width: 9%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding: 5px 15px;
    border: 1px solid #f0f2f5;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.text_filter {
    margin-left: 5px;
    margin-bottom: 0;
}

/* table */
td {
    min-width: 180px;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container_table{
    overflow-x: auto;
}

.btn_CreateProduct {
    width: 10%;
    background-color: #2bb452;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    margin: 0 10px;
    padding: 5px;
}

.btn_CreateProduct:active {
    transform: scale(0.95);
}

@media screen and (max-width: 575px) {
    .container_filter {
        width: 35%;
        padding: 5px;
    }
}

@media screen and (min-width: 575px) and (max-width: 767px) {
    .container_filter {
        width: 35%;
        padding: 5px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .container_filter {
        width: 25%;
        padding: 5px;
    }
}

@media screen and (min-width: 991px) and (max-width: 1199px) {
    .container_filter {
        width: 25%;
        padding: 5px;
    }
}

@media screen and (min-width: 1199px) and (max-width:1500px) {
    .container_filter {
        width: 18%;
        padding: 5px 10px;
    }
}

@media screen and (min-width: 1500px) {
    .container_filter {
        width: 10%;
        padding: 5px 10px;
    }
    td{
        max-width: 250px;
        min-width: 80px;
    }
}