.container_header {
    background-color: #f0f2f5;
}

/* link */
.container_link {
    background-color: white;
    padding: 10px 30px 5px;
}

.text_link {
    font-size: 15px;
    margin-bottom: 5px;
    color: #acacac;
}

/* body */
.container_body {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
}

.title_body {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
}

.col_2{
    display: grid;
    grid-template-columns: auto auto;
}

.btn_CreateProduct {
    width: 12%;
    background-color: #2bb452;
    color: white;
    font-weight: 500;
    font-size: 18px;
    border-radius: 10px;
    border: 0;
    margin: 0 10px;
    padding: 10px;
}

.btn_CreateProduct:active {
    transform: scale(0.95);
}


@media screen and (max-width: 575px) {
    .btn_CreateProduct {
        width: 20%;
        font-size: 15px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .btn_CreateProduct {
        width: 20%;
        font-size: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .btn_CreateProduct {
        font-size: 15px;
        width: 22%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .btn_CreateProduct {
        font-size: 15px;
        width: 22%;
    }
}

@media screen and (min-width: 1200px) {}